{% extends "base.html" %}

{% block title %}作業成績{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">作業成績</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>課程代碼</th>
                <th>作業名稱</th>
                <th>成績</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
                <tr>
                    <td>{{ grade.assignment.course.code }}</td>
                    <td>{{ grade.assignment.title }}</td>
                    <td>{{ grade.grade }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2 class="mt-4">作業總成績</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>課程代碼</th>
                <th>作業總成績</th>
            </tr>
        </thead>
        <tbody>
            {% for course, total_grade in total_assignment_grades.items %}
                <tr>
                    <td>{{ course.code }}</td>
                    <td>{{ total_grade }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-4">返回</a>
</div>
{% endblock %}