{% extends "base.html" %}

{% block title %}考試成績{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">考試成績</h1>
    <table class="table table-striped mb-4">
        <thead>
            <tr>
                <th>課程代碼</th>
                <th>考試名稱</th>
                <th>考試成績</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>{{ submission.exam.course.code }}</td>
                    <td>{{ submission.exam.title }}</td>
                    <td>{{ submission.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>考試總成績</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>課程代碼</th>
                <th>考試總成績</th>
            </tr>
        </thead>
        <tbody>
            {% for course, total_grade in total_exam_grades.items %}
                <tr>
                    <td>{{ course.code }}</td>
                    <td>{{ total_grade }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'student_dashboard' %}" class="btn btn-secondary mt-4">返回</a>
</div>
{% endblock %}