{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">購物車</h1>
  <ul class="list-group mb-4">
    {% for item in cart_items %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ item.product.name }} - 數量: {{ item.quantity }}
        <span class="badge bg-primary rounded-pill">小計: {{ item.total_price }}</span>
        <div>
          <a href="{% url 'update_cart_item' item.pk %}" class="btn btn-sm btn-warning">修改</a>
          <a href="{% url 'remove_from_cart' item.pk %}" class="btn btn-sm btn-danger">刪除</a>
        </div>
      </li>
    {% endfor %}
  </ul>
  <p class="fw-bold">總計: {{ cart_total }}</p>
  <a href="{% url 'create_order' %}" class="btn btn-success">進行結帳</a>
{% endblock %}