{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">菜單項目列表</h1>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text"><strong>${{ product.price }}</strong></p>
            <a href="{% url 'menu_item_detail' product.pk %}" class="btn btn-primary">查看詳情</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}