<!-- 檔案名稱: navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success"> <!-- 將 bg-dark 改為 bg-success 以改變顏色為綠色 -->
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'menu_item_list' %}">Order</a> <!-- 網站主標題，連結到菜單列表 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex me-auto my-2 my-lg-0" method="get" action="{% url 'search_menu_items' %}"> <!-- 搜尋框 -->
        <input class="form-control me-2" type="search" placeholder="搜尋餐點" name="q" aria-label="Search">
        <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button> <!-- 將 btn-outline-success 改為 btn-outline-light 以配合綠色背景 -->
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto"> <!-- 將購物車和查看訂單連結靠向搜尋欄 -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}">購物車</a> <!-- 購物車連結 -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order_list' %}">查看訂單</a> <!-- 訂單連結 -->
        </li>
      </ul>
    </div>
  </div>
</nav>