{% extends 'base.html' %}

{% block content %}
<h2>您的記帳項目</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>記帳項目名稱</th>
            <th>帳戶</th>
            <th>類別</th>
            <th>金額</th>
            <th>收入</th>
            <th>日期</th>
            <th>備註</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.account.name }}</td>
            <td>{{ expense.category.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.is_income|yesno:"是,否" }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.notes }}</td>
            <td>
                <a href="{% url 'expense_edit' expense.pk %}" class="btn btn-primary btn-sm">編輯</a>
                <a href="{% url 'expense_delete' expense.pk %}" class="btn btn-danger btn-sm">刪除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'expense_create' %}" class="btn btn-success">新增記帳項目</a>
{% endblock %}