<!-- 檔案名稱: navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffcccb;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'product_list' %}">Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              類別
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'product_category' category_name='餅乾' %}">餅乾</a></li>
              <li><a class="dropdown-item" href="{% url 'product_category' category_name='蛋糕' %}">蛋糕</a></li>
              <li><a class="dropdown-item" href="{% url 'product_category' category_name='麵包' %}">麵包</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <form class="d-flex" method="get" action="{% url 'product_search' %}">
              <input class="form-control me-2" type="search" placeholder="搜尋產品" aria-label="Search" name="q">
              <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-profile' %}">個人資料</a> <!-- 使用者個人資料 -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_list' %}">我的訂單</a> <!-- 訂單 -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart_detail' %}">
                <i class="fas fa-shopping-cart"></i> <!-- 購物車圖案 -->
              </a>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">登出</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">註冊</a> <!-- 註冊 -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">登入</a> <!-- 登入 -->
            </li>        
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>