{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">{{ photo.title }}</h2>
    <div class="text-center mb-4">
        <img src="{{ photo.image.url }}" class="photo-detail-size" alt="{{ photo.title }}">
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{ photo.description }}</p>
            <p class="card-text">拍攝地點: {{ photo.location }}</p>
            <p class="card-text">類別: {{ photo.category.name }}</p>
            <p class="card-text">標籤: 
                {% for tag in photo.tags.all %}
                    #{{ tag.name }} 
                {% endfor %}
            </p>
            <p class="card-text">上傳者: {{ photo.author.username }}</p>
            <p class="card-text">上傳時間: {{ photo.created_at }}</p>
            <p class="card-text">更新時間: {{ photo.updated_at }}</p>
            <a href="{% url 'album_detail' photo.album.pk %}" class="btn btn-secondary">回相簿</a>
            {% if user == photo.author %}
            <a href="{% url 'photo_edit' photo.pk %}" class="btn btn-warning">編輯</a>
            <a href="{% url 'photo_delete' photo.pk %}" class="btn btn-danger">刪除</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}