<!-- 檔案名稱: navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Basic002</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user-profile' %}">個人資料</a> <!-- 使用者個人資料 -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">登出</a> <!-- 登出 -->
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">註冊</a> <!-- 註冊 -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">登入</a> <!-- 登入 -->
        </li>        
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
